/* css home pagina */

body {
    background-color: var(--color-background);
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position-y: -53.5em;
    background-repeat: no-repeat;
}

h1,
h2 {
    color: var(--default-color);
    font-family: "grey-bear";
}

p {
    color: var(--default-color);
    font-family: "normal";
}

ul {
    list-style-type: none;
}

a,
a:visited {
    text-decoration: none;
    color: var(--default-color)
}

header.scrolled {
    background-color: var(--header-background);
    transition: 0.3s ease;
}

main {
    padding-top: 10em;
}

main>div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main>div:nth-of-type(1) article h1 {
    font-size: 4em;
}

main>div:nth-of-type(1) article p {
    font-size: 1em;
}

main>div:nth-of-type(1) img {
    width: 20em;
    height: 16em;
}

main section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section:nth-of-type(1) h2 {
    font-family: "itim-latin";
    font-size: 1.8em;
}

main nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

main nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main nav ul li {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
}

main nav ul li a {
    width: 15em;
    border: solid;
    border-width: .25em;
    border-radius: 3em;
    padding: 1em;
    background-color: transparent;
    color: var(--default-color);
    border-color: var(--default-color);
    text-align: center;
    margin: 1em;
}



main nav ul li a:hover {
    background-color: var(--default-color);
    color: var(--color-background);
}

main nav img {
    margin: 1em;
}

main>div:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

main>div:nth-of-type(2)>section {
    display: flex;
    flex-wrap: nowrap;
    background-image: url(../images/miniBackground.png);
    width: 80%;
    height: 25em;
    border-radius: .6em;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.25em;
    margin: 3em;
}

main>div:nth-of-type(2)>section p,
main>div:nth-of-type(2)>section h2 {
    font-family: "itim-regular";

}

main>div:nth-of-type(2)>section:nth-of-type(1) a {
    font-family: "itim-latin";
    display: block;
    background-color: var(--nav-color);
    color: var(--link-color);
    padding: .5em 1em;
    text-align: center;
    border-radius: .5em;
    font-size: 1.5em;
}

main section:nth-of-type(2) ul {
    display: flex;
    justify-content: center;
    left:10%;
    overflow-x: auto;
    white-space: nowrap;
}

main section:nth-of-type(2) ul li {
    display: inline;
}


main section:nth-of-type(2) img {
    width: 20em;
    height: auto;
    margin: 0em;
    padding: 0em;
}




/* DESKTOP */
@media (width > 42em) {

    header nav ul li a,
    header nav ul li a:visited {
        color: var(--nav-color)
    }

    main section:nth-of-type(1) {
        padding-top: 5em;
        padding-bottom: 5em;
    }

    main>section:nth-of-type(1) h2 {
        font-family: "itim-latin";
        font-size: 3em;
    }

    main nav ul {
        flex-direction: row;
    }

    main>div:nth-of-type(1) img {
        width: 35em;
        height: 30em;
        margin: 5em;
    }

    main>div:nth-of-type(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    main>div:nth-of-type(1) article {
        margin-right: 12em;
    }

    main>div:nth-of-type(1) article h1 {
        font-size: 5em;
    }

    main>div:nth-of-type(1) article p {
        font-size: 1.25em;
    }

    main>div:nth-of-type(2)>section {
        display: flex;
        flex-wrap: nowrap;
        background-image: url(../images/miniBackground.png);
        width: 50%;
        height: 25em;
        border-radius: .6em;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1.25em 5em;
        ;
        margin: 3em;
    }

    main>div:nth-of-type(2)>section p {
        font-size: 1.5em;
        opacity: 70%;
    }
}