@font-face {
	font-family: "itim-regular";
	src: url(../fonts/Itim-Regular.ttf) 
}

@font-face {
	font-family: "itim-latin";
	src: url(../fonts/itim-latin-400-normal.woff2) format("woff2")
}

@font-face {
	font-family: "andere";
	src: url(../fonts/_Xms-HUzqDCFdgfMm4S9DQ.woff2) format("woff2")
}


/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--default-color: rgb(216, 216, 216);
	--link-color: rgb(black);
	--header-background: rgb(115, 12, 6);
	--color-background: #200000;
	--footer-background: black;
	--nav-color: rgb(255, 94, 0);;
}


body {
	background-color: var(--color-background);
	
}



h1,
h2 {
	color: var(--default-color);
	font-family:"itim-regular";
}

p {
	color: var(--default-color);
}

ul {
	list-style-type: none;
}

a,
a:visited {
	text-decoration: none;
	color: var(--default-color)
}

header {
	background-color: var(--header-background);
	min-height: 4em;
	padding: 0 1em;
	line-height: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	left: 0%;
	top: 0%;
}

header button {
	padding: .5em;
	display: flex;
	align-items: center;
	gap: .25em;
	appearance: none;
	border: none;
	border-radius: .25em;
	font: inherit;
	text-align: center;
	background: none;
	cursor: pointer;
}

header button img {
	width: 5em;
	height: auto;
}

header nav {
	display: grid;
	background-color: var(--nav-color);
	align-content: start;
	gap: 1em;
	position: fixed;
	inset: 0%;
	translate: -100% 0%;
	transition: 0.3s;
}

header nav button {
	justify-self: start;
}



header nav ul {
	padding: 0;
	margin: 0;
}

header nav ul li {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

header nav ul li a, header nav ul li a:visited{
	color:var(--link-color)
}

header nav ul img {
	height: 30px;
	width: 30px;
}

header nav.toonMenu {
	translate: 0% 0%;
	transition: 0.3s;
}

img {
	height: 100px;
	width: auto;
}

footer {
	background-color: var(--footer-background);
	left: 0%;
	bottom: 0%;
	width: 100%;
}

main {
	padding-top: 10em;
}

main div {
	display: flex;
	justify-content: space-between;
}

main div img {
	width: 5em;
	height: 5em;
}

main nav {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

main nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}

main nav ul li {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

main nav ul li a {
	border: solid;
	border-width:2px;
	border-radius: 50px;
	padding: 1em;
	background-color: var(--color-background);
	color: var(--default-color);
	border-color: var(--default-color);
	text-align:center;
}



main nav ul li a:hover {
	background-color: var(--default-color);
	color: var(--color-background);
}

main nav img {
	margin: 1em;
}

main section:nth-of-type(2) ul {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;

}

main section:nth-of-type(2) ul li {
	display: inline;
}




main section:nth-of-type(2) img {
	width: 20em;
	height: auto;
	margin: 0em;
	padding: 0em;
}


 /* DESKTOP */
@media (min-width:38em) {
	body {
		color:var(--nav-color)
	}

	header button {
		display: none;
	}

	header nav {
		position: static;
		translate: unset;
		padding: 0;
		background: none;
		transition: none;
	}

	header nav button {
		display: none;
	}

	header nav ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	header nav a {

		margin-right: 0.5em;
		margin-left: 0.5em;

	}

	main nav ul {
		flex-direction:row;
	}
}