/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--primary-color:blue;
	--default-color:#b44141;
	--color-background:#eee;
}


body {
	background-color: var(--color-background);
}

h1 {
	color: var(--primary-color)
}

p {
	color: var(--default-color);
}

