/* Algemeen stijlblad, alle fonts, kleuren, de header en de footer */

@font-face {
	font-family: "itim-regular";
	src: url(../fonts/Itim-Regular.ttf)
}

@font-face {
	font-family: "itim-latin";
	src: url(../fonts/itim-latin-400-normal.woff2) format("woff2")
}

@font-face {
	font-family: "andere";
	src: url(../fonts/_Xms-HUzqDCFdgfMm4S9DQ.woff2) format("woff2")
}

@font-face {
	font-family: "grey-bear";
	src: url(../fonts/GREY+BEAR.otf)
}

@font-face {
	font-family: "normal";
	src: url(../fonts/normal)
}


/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--default-color: #ffeacc;
	--link-color: black;
	--header-background: rgb(115, 12, 6);
	--color-background: black;
	--nav-color: rgb(255, 81, 0);
	--bullied-h1: rgb(131, 197, 9);
	--bullied-h2: rgb(10, 208, 248);
	--bullied-header-background: rgb(6, 88, 84);
	--focus-state:blue;
}


@media (prefers-color-scheme: light) {
	:root {
		--default-color: #000000;
		--link-color: rgb(228, 228, 228);
		--header-background: rgb(255, 119, 111);
		--color-background: rgb(255, 255, 255);
		--nav-color: rgb(255, 181, 138);
	}
}


body {
	font-family: "normal";
}

@media (prefers-color-scheme: light) {
	body {
		background-image: none;
		background-size: 0%;
	}
}


*:focus {
	border:solid;
	border-color: var(--focus-state);
}

header {
	background-color: transparent;
	min-height: 4em;
	padding: 0 1em;
	line-height: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	left: 0%;
	top: 0%;
	z-index: 1;
	transition: 0.3s ease;
}


header button {
	padding: .5em;
	display: flex;
	align-items: center;
	gap: .25em;
	appearance: none;
	border: none;
	border-radius: .25em;
	text-align: center;
	background: none;
	cursor: pointer;
}

header button img {
	width: 2em;
	height: auto;
}

header img {
	width: 2em;
	height: auto;
}

header nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--nav-color);
	align-content: start;
	gap: 1em;
	position: fixed;
	inset: 0%;
	translate: -100% 0%;
	transition: 0.3s;
}

header nav button {
	justify-self: start;
}

header nav ul {
	padding: 0;
	margin: 0;
}

header nav ul:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90vw;
	margin-top: 1em;
}

header nav ul:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	gap: 3em;
	text-align: center;
}

header nav ul:nth-of-type(2) li {
	font-size: 2em;
}

header nav ul:nth-of-type(3) {
	display: flex;
	padding-bottom: 2em;
}

header nav ul li {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

header nav ul li a,
header nav ul li a:visited {
	color: var(--link-color)
}

header nav ul img {
	height: auto;
	width: 1.9em;
}

header nav.toonMenu {
	translate: 0% 0%;
	transition: 0.3s;
}

img {
	height: 10em;
	width: auto;
}


footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 0%;
	bottom: 0%;
	width: 100%;
}

footer>h2 {
	font-family: "itim-regular";
}

footer>nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;
}

footer>nav ul li img {
	width: 3em;
	height: auto;
	margin: 0;
}

#subscribeForm {
	max-width: 30em;
	background-color:var(--color-background);
	margin: 0 auto;
	padding: 1.25em;
	border-radius: .6em;
	box-shadow: 0 0 .6em rgba(0, 0, 0, 0.1);
}

footer label {
	display: block;
	margin-bottom: .6em;
	color: var(--default-color);
}

input[type="text"],
input[type="email"] {
	width: 100%;
	padding: .6em;
	margin-bottom: .6em;
	border: 1px solid #ccc;
	border-radius: .4em;
}

input[type="submit"] {
	background-color: var(--nav-color);
	color: var(--default-color);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	justify-self: center;
}

input[type="submit"]:hover {
	background-color: var(--header-background);
}

footer>ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


/* DESKTOP */
@media (width > 42em) {
	body {
		color: var(--nav-color)
	}

	header {
		padding: 1em;
	}

	header nav ul:nth-of-type(1) {
		display: none;
	}

	header nav ul:nth-of-type(2) {
		flex-direction: row;
		gap: 1.5em;
	}


	header nav ul:nth-of-type(2) li {
		font-size: 1.5em;
	}

	header nav ul:nth-of-type(3) {
		flex-direction: row;
		padding: 0;
	}

	header button {
		display: none;
	}

	header img {
		width: 8em;
		height: auto;
	}

	header nav {
		flex-direction: row;
		position: static;
		translate: unset;
		padding: 0;
		background: none;
		transition: none;
	}


	footer>ul {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 95vw;
	}
}