@font-face {
	font-family: "itim-regular";
	src: url(../fonts/Itim-Regular.ttf)
}

@font-face {
	font-family: "itim-latin";
	src: url(../fonts/itim-latin-400-normal.woff2) format("woff2")
}

@font-face {
	font-family: "andere";
	src: url(../fonts/_Xms-HUzqDCFdgfMm4S9DQ.woff2) format("woff2")
}

@font-face {
	font-family: "grey-bear";
	src: url(../fonts/GREY+BEAR.otf)
}

@font-face {
	font-family: "normal";
	src: url(../fonts/normal)
}


/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--default-color: #ffeacc;
	--link-color: black;
	--header-background: rgb(115, 12, 6);
	--color-background: black;
	--nav-color: rgb(255, 81, 0);
}


@media (prefers-color-scheme: light) {
	:root {
		--default-color: #000000;
		--link-color: rgb(228, 228, 228);
		--header-background: rgb(255, 119, 111);
		--color-background: rgb(255, 255, 255);
		--nav-color: rgb(255, 181, 138);
	}
}


body {
	background-color: var(--color-background);
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position-y: -53.5em;
	background-repeat: no-repeat;
	font-family: "normal";
}

@media (prefers-color-scheme: light) {
	body {
		background-image: none;
		background-size: 0%;
	}
}


h1,
h2 {
	color: var(--default-color);
	font-family: "grey-bear";
}

p {
	color: var(--default-color);
	font-family: "normal";
}

ul {
	list-style-type: none;
}

a,
a:visited {
	text-decoration: none;
	color: var(--default-color)
}

header {
	background-color: transparent;
	min-height: 4em;
	padding: 0 1em;
	line-height: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	left: 0%;
	top: 0%;
	z-index:1;
	transition:0.3s ease;
}

header.scrolled {
    background-color: var(--header-background);
	transition: 0.3s ease;
}

header button {
	padding: .5em;
	display: flex;
	align-items: center;
	gap: .25em;
	appearance: none;
	border: none;
	border-radius: .25em;
	text-align: center;
	background: none;
	cursor: pointer;
}

header button img {
	width: 2em;
	height: auto;
}

header img {
	width: 2em;
	height: auto;
}

header nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--nav-color);
	align-content: start;
	gap: 1em;
	position: fixed;
	inset: 0%;
	translate: -100% 0%;
	transition: 0.3s;
}

header nav button {
	justify-self: start;
}



header nav ul {
	padding: 0;
	margin: 0;
}

header nav ul:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90vw;
	margin-top: 1em;
}

header nav ul:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	gap: 3em;
	text-align: center;
}

header nav ul:nth-of-type(2) li {
	font-size: 2em;
}

header nav ul:nth-of-type(3) {
	display: flex;
	padding-bottom: 2em;
}

header nav ul li {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

header nav ul li a,
header nav ul li a:visited {
	color: var(--link-color)
}

header nav ul img {
	height: auto;
	width: 30px;
}

header nav.toonMenu {
	translate: 0% 0%;
	transition: 0.3s;
}

img {
	height: 100px;
	width: auto;
}


main {
	padding-top: 10em;
}

main>div:nth-of-type(1) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main>div:nth-of-type(1) article h1 {
	font-size: 60px;
}

main>div:nth-of-type(1) article p {
	font-size: 16px;
}

main>div:nth-of-type(1) img {
	width: 20em;
	height: 16em;
}

main section:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main section:nth-of-type(1) h2 {
	font-family: "itim-latin";
	font-size: 1.8em;
}

main nav {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

main nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main nav ul li {
	padding: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

main nav ul li a {
	width: 15em;
	border: solid;
	border-width: 2px;
	border-radius: 50px;
	padding: 1em;
	background-color: transparent;
	color: var(--default-color);
	border-color: var(--default-color);
	text-align: center;
	margin: 1em;
}



main nav ul li a:hover {
	background-color: var(--default-color);
	color: var(--color-background);
}

main nav img {
	margin: 1em;
}

main>div:nth-of-type(2) {
	display: flex;
	justify-content: center;
}

main>div:nth-of-type(2)>section {
	display: flex;
	flex-wrap: nowrap;
	background-image: url(../images/miniBackground.png);
	width: 80%;
	height: 25em;
	border-radius: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px;
	margin: 3em;
}

main>div:nth-of-type(2)>section p,
main>div:nth-of-type(2)>section h2 {
	font-family: "itim-regular";

}

main>div:nth-of-type(2)>section:nth-of-type(1) a {
	font-family: "itim-latin";
	display: block;
	background-color: var(--nav-color);
	color:var(--link-color);
	padding:.5em 1em;
	text-align: center;
	border-radius:8px;
	font-size:1.5em;
}

main section:nth-of-type(2) ul {
	display: flex;
	justify-content:center;
	overflow-x: auto;
	white-space: nowrap;
}

main section:nth-of-type(2) ul li {
	display: inline;
}


main section:nth-of-type(2) img {
	width: 20em;
	height: auto;
	margin: 0em;
	padding: 0em;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 0%;
	bottom: 0%;
	width: 100%;
}

footer>h2 {
	font-family: "itim-regular";
}

footer>nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:1em;
}

footer>nav ul li img {
	width: 3em;
	height: auto;
	margin: 0;
}

#subscribeForm {
	max-width: 30em;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer label {
	display: block;
	margin-bottom: 10px;
	color: var(--default-color);
}

input[type="text"],
input[type="email"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: var(--nav-color);
	color: var(--default-color);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	justify-self: center;
}

input[type="submit"]:hover {
	background-color: var(--header-background);
}

footer>ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


/* DESKTOP */
@media (width > 38em) {
	body {
		color: var(--nav-color)
	}

	header {
		padding:1em;
	}

	header nav ul:nth-of-type(1) {
		display: none;
	}

	header nav ul:nth-of-type(2) {
		flex-direction: row;
		gap:1.5em;
	}


	header nav ul:nth-of-type(2) li {
		font-size: 1.5em;
	}

	header nav ul:nth-of-type(3) {
		flex-direction: row;
		padding: 0;
	}

	header button {
		display: none;
	}

	header img {
		width: 8em;
		height: auto;
	}

	header nav {
		flex-direction: row;
		position: static;
		translate: unset;
		padding: 0;
		background: none;
		transition: none;
	}



	header nav ul li a,
	header nav ul li a:visited {
		color: var(--nav-color)
	}


	main section:nth-of-type(1) {
		padding-top:5em;
		padding-bottom:5em;
	}

	main > section:nth-of-type(1) h2 {
		font-family: "itim-latin";
		font-size: 3em;
	}

	main nav ul {
		flex-direction: row;
	}

	main>div:nth-of-type(1) img {
		width: 35em;
		height: 30em;
		margin: 5em;
	}

	main>div:nth-of-type(1) {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	main>div:nth-of-type(1) article {
		margin-right: 12em;
	}

	main>div:nth-of-type(1) article h1 {
		font-size: 80px;
	}

	main>div:nth-of-type(1) article p {
		font-size: 20px;
	}

	main>div:nth-of-type(2)>section {
		display: flex;
		flex-wrap: nowrap;
		background-image: url(../images/miniBackground.png);
		width: 50%;
		height: 25em;
		border-radius: 10px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 20px 5em;;
		margin: 3em;
	}

	main>div:nth-of-type(2)>section p {
		font-size:1.5em;
		opacity:70%;
	}


	footer>ul {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width:95vw;
	}
}